@import "../../constants.scss";

header {
  padding-bottom: calc(108px + 3rem);
  nav {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    align-items: center;
    padding: 1.5rem 2rem;
    background: #ffffff5e;
    backdrop-filter: blur(5px);
    position: fixed;
    width: 100%;
    a:first-child {
      margin: 0 auto 0 0;
    }
    a:last-child {
      display: flex;
      span {
        font-size: 2rem;
        padding-left: 0.5rem;
        font-weight: 400;
      }
    }
    span {
      text-transform: lowercase;
      font-style: italic;
      font-weight: 700;
    }
  }
}

@media (min-width: 1440px) {
  header nav {
    width: 1440px;
  }
}
