@import '../../constants.scss';

footer {
  background-size: cover;
  background-position: 50%;
  padding: 1.5rem 2rem;
  color: $white;
  ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    li {
      a {
        display: flex;
        align-items: center;
        gap: 1rem;
      }
    }
    li:first-child {
      margin: 0 auto 0 0;
    }
    li:nth-child(3) {
      display: block;
      margin: 0 0 0 auto;
    }
  }
}
