@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Noto+Sans+Display:ital,wght@0,400;0,700;1,300&display=swap');

$lato: 'Lato', sans-serif;
$notoSans: 'Noto Sans Display', sans-serif;
$bg: #dddddd;
